.fish {
  flex-shrink: 0;
  background: #fff;
}

.fish-name {
  font-size: 18px;
  font-weight: 300;
}

.fish-location {
  font-size: 16px;
  font-weight: 500;
}

.amphibians {
  flex-shrink: 0;
  background: #fff;
}
