.header {
  background-image: url(../images/sumidero_canyon.png);
  height: 397px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 40px 0px 0px #ffb500;
}
