.l_section-title-green {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9c3;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;
  height: 40px;
}

.l_section-title-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00a8b1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;
  height: 40px;
}

.l-article-background {
  background-image: url(../images/pattern.png);
  width: 100vw;
}

.l-orange {
  width: 100vw;
  height: 10px;
  flex-shrink: 0;
  background: #ffb500;
}
