@import "bootstrap/scss/bootstrap-grid";

@import "base";
@import "layout";
@import "modules/header";
@import "modules/example";
@import "modules/fish";
@import "modules/country";

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }
